// fonts
$ralewayBold: 'Raleway Bold', sans-serif;
$ralewaySemibold: 'Raleway Semibold', sans-serif;
$opensans: 'OpenSans', sans-serif;
$opensansSemibold: 'OpenSans Semibold', sans-serif;
$opensansBold: 'OpenSans Bold', sans-serif;

// colors
$white: #fff;
$main-color: #17d0ac;
$primary-color: #282528;
$secondary-color: #969596;
$background-light: #babdc1;
$block-background-color: #27b99e;
$background-blue: #31d4e7;
$icon-color-light: #0098cd;
$icon-color-dark: #222222;
$icon-background-dark: #20836f;
$footer-text-color: #bface2;
$footer-p-color: #aaaaaa;
$facebook-color: #3b5997;
$twitter-color: #3ec2f3;
$gplus-color: #e44c41;
$placeholder-color: #c1c1c1;
// dimensions
$max-width: 75rem;